<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1"
        src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">这个网站迁移了<span id="js-rotating">Twitter,QQ177,QQ2399,朋友圈,微博,印象笔记,vivo便签以及小米便签</span>的一些内容</h4>
  </div>
  <div class="user-content">

    <p>
      等我想到了再来补充
    </p>
    <blockquote>
    <div style="text-align: center;font-size: 1.5em;color: #AAA;">凡是过往，皆为序章</div>
    </blockquote>
    <blockquote>
    <div style="text-align: center;font-size: 1.5em;color: #AAA;">此生尽兴，赤诚善良</div>
    </blockquote>
    <blockquote>
    <div style="text-align: center;font-size: 1.5em;color: #AAA;">不乱于心，不困于情</div>
    </blockquote>
    <blockquote>
    <div style="text-align: center;font-size: 1.5em;color: #AAA;">不畏将来，不念过往</div>
    </blockquote>
  </div>
</div>
