<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1"
        src="https://pic.downk.cc/item/5f81687e1cd1bbb86bf68094.jpg"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden" style="font-size: 22px; font-weight: 600;">这个网站迁移了<span
        id="js-rotating">Twitter,QQ,朋友圈,微博</span>的一些内容</h4>
  </div>
  <div class="user-content">

    <p>
      页面不完善，布局待改进，正在寻找一款简洁大方的设计。后续补充
    </p>
    <p>
      建立这个网站的目的<s>，程序员嘛，总得有个自己的空间，</s>堆垃圾<s>也好，写技术文章也罢。</s>
    </p>


    <blockquote>
      <div style="text-align: center;font-size: 1.5em;color: #AAA;">以前嘛(1998-2020)，不甘平凡<br>现在嘛(2020-xxxx)，只想佛系</div>
    </blockquote>
    <!-- <img alt="今日诗词" src="https://v2.jinrishici.com/one.svg" style="max-width:100%; display: block; margin: 0 auto;"> -->

    <p>
      <br>
      * 本网站建立于2019年.
    </p>
  </div>
</div>