<style type="text/css">
  body {
    background-color: #999999;
    LINE-HEIGHT: 150%
  }



  .STYLE12 {
    font-size: 23px;
    /* font-family: PingFangSC-Regular,PingFang SC; */
    font-family: 楷体;
    font-weight: 600;
    background: #594f60;
    color: antiquewhite;
    padding: 1px;
    margin-top: -8px;
  }

  .STYLE11 {
    background-image: linear-gradient(180deg, white, transparent);
    margin-top: 66px;
    text-align: center;
  }
</style>


<table width="1000" border="0" align="center" cellspacing="5" bgcolor="#FFFFFF">
  <tbody>
    <tr>
      <td style="text-align: center;">
        <div><img width="100%" src="https://pic.imgdb.cn/item/613c99bf44eaada7391d65a6.jpg"></div>
        <div class="STYLE12">
          <p>我是自己的国王</p>
          <p>也是自己的臣民</p>
          <p>我为自己颁布准则和标准</p>
          <p>也为自己投以深深的信仰与臣服</p>
        </div>
        <table width="999" border="0" cellspacing="0" bgcolor="#E0E0FF" class="STYLE11">
          <tbody>
            <tr>
              <td><span style="text-align: center; font-size: 14px;">* 本网站建立于2019年</span></td>
            </tr>
          </tbody>
        </table>



      </td>
    </tr>
  </tbody>
</table>