<title>wfnian的主页</title>
<style type="text/css">
    <!--
    .STYLE1 {
        font-size: larger;
        font-weight: bold;
    }

    .STYLE3 {
        font-size: larger;
        font-weight: bold;
        color: #0000FF;
    }

    body,
    td,
    th {
        font-size: 14px;
        font-family: Arial, 黑体, 黑体_gb2312, simhei;
    }

    body {
        background-color: #999999;
        LINE-HEIGHT: 150%
    }

    .STYLE4 {
        color: #FF0000
    }

    .STYLE5 {
        font-size: 12px
    }

    .STYLE51 {
        color: #3333FF;
        font-weight: bold;
    }
    -->
</style>


<table width="1000" border="0" align="center" cellspacing="5" bgcolor="#FFFFFF">
    <tbody>
        <tr>
            <td>
                <table width="827" border="0">
                    <tbody>
                        <tr>
                            <td width="193"><img src="https://pic.imgdb.cn/item/60df19b85132923bf8225542.jpg"
                                    width="180" height="180"></td>
                            <td width="31">
                                <p>&nbsp;</p>
                            </td>
                            <td width="589">
                                <p><span class="STYLE1">某某</span>，学生 </p>
                                <p><a href="http://www.buct.edu.cn/">北京化工大学</a>，<a
                                        href="http://cist.buct.edu.cn/">信息科学与技术学院</a>，计算机科学与技术</p>
                                <p>
                                    <b>联系地址</b>: 北京市朝阳区北三环东路15号北京化工大学信息学院，邮编10029<br>
                                    <b>Email</b>: wfnian<b><em>@</em></b>gmail.com<br>
                                    <b>网站</b>
                                    : <a href="" class="STYLE51">English Version</a>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="999" border="0" cellspacing="0" bgcolor="#E0E0FF">
                    <tbody>
                        <tr>
                            <td><span class="STYLE3">个人信息</span></td>
                        </tr>
                    </tbody>
                </table>
                <p>2015-2019 北京化工大学 信息科学与技术学院 计算机科学与技术</p>
                <p>2020-2023 北京化工大学 信息科学与技术学院 计算机科学与技术（在读）</p>
                <p>2018.3 校级人民奖学金</p>
                <p>2018.9 校级人民单项奖学金</p>
                <p>详细。等</p>
                <table width="999" border="0" cellspacing="0" bgcolor="#E0E0FF">
                    <tbody>
                        <tr>
                            <td><span class="STYLE3">教学情况</span></td>
                        </tr>
                    </tbody>
                </table>
                <p>学过*等</p>
                <table width="999" border="0" cellspacing="0" bgcolor="#E0E0FF">
                    <tbody>
                        <tr>
                            <td><span class="STYLE3">代表性论文 </span></td>
                        </tr>
                    </tbody>
                </table>
                <p>请<a href="javascript:void(0)" onclick="location.reload()">刷新</a>页面，确保能查看最近的更新</p>
                <p><b>人工智能交叉</b></p>
                <table width="999" border="0" cellspacing="15">
                    <tbody>
                        <tr>
                            <td><img src="https://pic.imgdb.cn/item/60df19b85132923bf8225542.jpg" alt="" width="180"
                                    height="90"></td>
                            <td>无.</td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <p><b>计算机视觉</b></p>
                <table width="999" border="0" cellspacing="15">
                    <tbody>
                        <tr>
                            <td><img src="https://pic.imgdb.cn/item/60df19b85132923bf8225542.jpg" width="180"
                                    height="90"></td>
                            <td>
                                <p>无
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <table width="999" border="0" cellspacing="0" bgcolor="#E0E0FF">
                    <tbody>
                        <tr>
                            <td><span class="STYLE3">科研项目 </span></td>
                        </tr>
                    </tbody>
                </table>
                <ul>
                    <li>某某某项目负责人</li>
                </ul>
                <table width="999" border="0" cellspacing="0" bgcolor="#E0E0FF">
                    <tbody>
                        <tr>
                            <td><span class="STYLE3">产品和解决方案</span></td>
                        </tr>
                    </tbody>
                </table>

                <hr>
                <p style="text-indent: 1em;">This Page is <b> ShanZhai Version</b> of my Teacher
                    <a style="color: dodgerblue; font-weight: 600;" href="wei-hu.cn">wei-hu</a>
                </p>
                <hr>


            </td>
        </tr>
    </tbody>
</table>