<title>wfnian的主页</title>
<script src="https://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<script>$(function () { $('img').click(function () { window.open($(this).attr('src')) }); });</script>


<style type="text/css">
    .show {
        display: flex;
        flex-wrap: wrap;
        padding: 2px;
        width: auto;
        margin-top: 10px;
    }

    .list {
        width: calc(100% * (1 / 4) - 1px);
        padding: 1px;
    }


    @media screen and (max-width: 960px) {
        img {
            width: 100%;
            height: 90px;
            object-fit: cover;
        }
    }

    @media screen and (min-width: 960px) {
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
    }

    .date {
        text-indent: 2em;
        padding-top: 10px;
    }

    .day {
        box-shadow: 0px 0px 1px 0px #afafaf;
    }
</style>

<div class="day">
    <div class="date">2021年10月16日 | 北京市 </div>
    <div class="show">
        <div class="list"><img id="img" src="https://pic.imgdb.cn/item/616c1d9e2ab3f51d91c8b434.jpg"></div>
    </div>
</div>
<div class="day">
    <div class="date">2021年10月16日 | 北京市 </div>
    <div class="show">
        <div class="list"><img id="img" src="https://pic.imgdb.cn/item/616a31882ab3f51d911358e9.png"></div>
    </div>
</div>
<div class="day">
    <div class="date">2021年10月14日 | 北京市 文章提取</div>
    <div class="show">
        <div class="list"><img id="img" src="https://pic.imgdb.cn/item/61678b3d2ab3f51d91979aa8.jpg"></div>
        <div class="list"><img id="img"
                src="https://gsp0.baidu.com/5aAHeD3nKhI2p27j8IqW0jdnxx1xbK/tb/editor/images/client/image_emoticon25.png">
        </div>
        <div class="list"><img id="img" src="https://pic.imgdb.cn/item/616789122ab3f51d9194ff0e.jpg"></div>
        <div class="list"><img id="img" src="https://pic.imgdb.cn/item/6167896e2ab3f51d91956a3b.jpg"></div>
        <div class="list"><img id="img"
                src="https://gsp0.baidu.com/5aAHeD3nKhI2p27j8IqW0jdnxx1xbK/tb/editor/images/client/image_emoticon25.png">
        </div>
        <div class="list"><img id="img" src="https://pic.imgdb.cn/item/6167890b2ab3f51d9194f551.jpg"></div>
    </div>
</div>
<div class="day">
    <div class="date">2021年10月12日 | 北京市 海淀区</div>
    <div class="show">
        <div class="list"><img id="img" src="https://pic.imgdb.cn/item/6166b6db2ab3f51d919c3629.jpg"></div>
        <div class="list"><img id="img" src="https://pic.imgdb.cn/item/616a372b2ab3f51d91190e0d.png"></div>
        <div class="list"><img id="img" src="https://pic.imgdb.cn/item/6163d8002ab3f51d9129a1df.jpg"></div>
    </div>
</div>
<div class="day">
    <div class="date">2021年09月22日 | 截图 </div>
    <div class="show">
        <div class="list"><img src="https://pic.imgdb.cn/item/614be7a52ab3f51d91b54fbf.jpg"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/614be6a02ab3f51d91b43d40.jpg"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/614be68f2ab3f51d91b42f95.jpg"></div>
    </div>
</div>
<div class="day">
    <div class="date">2021年09月16日 | 北京市 </div>
    <div class="show">
        <div class="list"><img src="https://pic.imgdb.cn/item/6147e10c2ab3f51d914dad27.jpg"></div>
    </div>
</div>
<div class="day">
    <div class="date">2021年7月18日 | 北京市</div>
    <div class="show">
        <div class="list"><img src="https://pic.imgdb.cn/item/60ffa1df5132923bf8e81689.jpg"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/60f238065132923bf886c60e.jpg"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/60f238065132923bf886c5db.jpg"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/60f238745132923bf889c5c2.jpg"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/60f238065132923bf886c63d.jpg"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/60f238065132923bf886c5bd.jpg"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/60f238745132923bf889c57a.jpg"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/60f238065132923bf886c67d.jpg"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/60f238745132923bf889c5e1.jpg"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/60f23cb35132923bf8a82ce7.jpg"></div>
        <div class="list"><img src="https://s.pc.qq.com/tousu/img/20200818/8344131_1597722096.jpg"></div>
        <div class="list"><img src="https://pic.downk.cc/item/5f93ec971cd1bbb86b3ecd83.jpg"></div>
        <div class="list"><img src="https://pic.downk.cc/item/5f93ed921cd1bbb86b3f1ea7.jpg"></div>
        <div class="list"><img src="https://p.pstatp.com/origin/1388c000040b8c4054e26"></div>
        <div class="list"><img src="https://p.pstatp.com/origin/ff9800023a064fcebae8"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/60f23bb25132923bf8a10a27.jpg"></div>
        <div class="list"><img src="https://img.imgdb.cn/item/600e68d03ffa7d37b3e4abea.jpg"></div>
        <div class="list"><img src="https://img.imgdb.cn/item/600e69243ffa7d37b3e4d313.jpg"></div>
        <div class="list"><img src="https://img.imgdb.cn/item/600e69c53ffa7d37b3e51c60.jpg"></div>
        <div class="list"><img src="https://img.imgdb.cn/item/600e6a003ffa7d37b3e53919.jpg"></div>
    </div>
</div>
<div class="day">
    <div class="date">2020年5月14日 | 北京市，朝阳区 (test)</div>
    <div class="show">
        <div class="list"><img src="https://pic.imgdb.cn/item/60f238065132923bf886c67d.jpg"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/60f238065132923bf886c67d.jpg"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/60f238065132923bf886c67d.jpg"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/5f3b453914195aa594d73886.jpg"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/5f3b453914195aa594d73886.jpg"></div>
    </div>
</div>
<div class="day">
    <div class="date">2021年5月28日 | 北京市，朝阳区</div>
    <div class="show">
        <div class="list"><img src="https://pic.imgdb.cn/item/60c0bd0a844ef46bb2710114.jpg"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/60c0bcda844ef46bb26d8d58.jpg"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/60c0bc56844ef46bb263d9b4.jpg"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/60c0bc56844ef46bb263da35.jpg"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/60c0bc56844ef46bb263da59.jpg"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/60c0bc56844ef46bb263d9fe.jpg"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/60c0bc56844ef46bb263da1d.jpg"></div>
    </div>
</div>
<div class="day">
    <div class="date">2021年1月6日 | 北京市，朝阳区</div>
    <div class="show">
        <div class="list"><img src="https://pic.imgdb.cn/item/60f238065132923bf886c63d.jpg"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/6006989e3ffa7d37b3ce727c.jpg"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/5f8935621cd1bbb86b6f6bd4.jpg"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/5e7178a7e83c3a1e3a91a839.png"></div>
    </div>
</div>
<div class="day">
    <div class="date">2018年9月3日 | 北京市，南口</div>
    <div class="show">
        <div class="list"><img src="https://pic.imgdb.cn/item/5d6e27a7451253d178c44bcf.jpg"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/5d6e27b8451253d178c450ba.jpg"></div>
    </div>
</div>
<div class="day">
    <div class="date">2021年07月27日 | 北京市 </div>
    <div class="show">
        <div class="list"><img src="https://pic.imgdb.cn/item/60ffb0a35132923bf82e523d.jpg"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/60ffac825132923bf81a205a.jpg"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/60ffac885132923bf81a3c81.jpg"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/613a224444eaada73993c2ba.jpg"></div>
        <div class="list"><img src="https://pic.imgdb.cn/item/6136278e44eaada7392f3021.jpg"></div>
    </div>
</div>


<div class="collapsible-header active">

    <!-- <i class="material-icons tooltipped" data-position="left" data-delay="30" data-tooltip="Date"
            data-tooltip-id="0fb79551-fe32-9ff1-51e8-e6eaba47aa7d">date_range</i> -->
    相册由■上传，通过■生成
    <!-- <i id="indicate" class="right material-icons tooltipped" data-position="left" data-delay="30"
            data-tooltip="Show extra info" data-tooltip-id="19c03c8d-18e5-b537-b552-af69f8d8d7ff">info</i> -->

</div>