<!-- <div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">

      <a class="card-title center-align valign-wrapper" href="{{site.url}}"
        style="background-image: linear-gradient(120deg, rgb(58, 161, 126), rgb(0, 83, 126));">主页</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">理想主义的狂欢</span>
    </div>
  </div>
</div> -->



<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">
      <a class="card-title center-align valign-wrapper" href="{{site.baseurl}}/workspace/404"
        style="background-image: linear-gradient(60deg, #26a69a, #26a69a);line-height: initial;">有些事情不称心<br>你就起身反抗吧</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">有些人很过分，你就在此吐槽吧</span>
    </div>
  </div>
</div>


<!--  -->
<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">
      <!-- <i class="material-icons waves-effect waves-block waves-light">more_vert</i> -->

      <a class="card-title center-align valign-wrapper" href="https://www.zhihu.com/people/hriemy"
        style="background-image: linear-gradient(120deg, #0084ff, #0349bb)">知乎</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">甘肃是一个星星很多的地方，伸出手去，便是银河。</span>
    </div>
  </div>
</div>

<!-- add 知乎 -->

<!-- add wfnian -->
<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">
      <!-- <i class="material-icons waves-effect waves-block waves-light">more_vert</i> -->

      <a class="card-title center-align valign-wrapper" href="https://github.com/wfnian"
        style="background-image: linear-gradient(90deg, #24292e, #999999)">GitHub</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">这个我用了很久，这么多年来，可以说一事无成。</span>
    </div>
  </div>
</div>
<!-- add github -->



<!-- https://space.bilibili.com/279947937 -->
<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">
      <!-- <i class="material-icons waves-effect waves-block waves-light">more_vert</i> -->

      <a class="card-title center-align valign-wrapper" href="https://space.bilibili.com/279947937"
        style="background-image: linear-gradient(90deg, #00c0ff, #ff4180)">哔哩哔哩bilibili(B站)</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">B站是用来学习的！！！<br>爱治愈番</span>
    </div>
  </div>
</div>



<!-- add 微信公众号 -->
<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">
      <!-- <i class="material-icons waves-effect waves-block waves-light">more_vert</i> -->

      <a class="card-title center-align valign-wrapper" href="{{site.baseurl}}/workspace/weixin/weixin2"
        style="background-image: linear-gradient(0deg, #16cfea, #d40643)">微信小程序</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">阴阳师抽卡概率模拟程序</span>
    </div>
  </div>
</div>
<!-- add 微信公众号 -->
<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">
      <!-- <i class="material-icons waves-effect waves-block waves-light">more_vert</i> -->

      <a class="card-title center-align valign-wrapper" href="{{site.baseurl}}/workspace/weixin/weixin1"
        style="background-image: linear-gradient(120deg, #4dad16, #4dad16)">微信公众号</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">关注人数持续下降，太强了</span>
    </div>
  </div>
</div>

<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">
      <!-- <i class="material-icons waves-effect waves-block waves-light">more_vert</i> -->

      <a class="card-title center-align valign-wrapper" href="{{site.baseurl}}/enter/enter-shmily"
        style="background-image: linear-gradient(90deg, #efae26, #f50606)">十七与家园</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">相逢是首歌</span>
    </div>
  </div>
</div>
<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">
      <!-- <i class="material-icons waves-effect waves-block waves-light">more_vert</i> -->

      <a class="card-title center-align valign-wrapper" href="{{site.baseurl}}/enter/ball"
        style="background-image: linear-gradient(90deg, #8975ff, #781589)">碰撞检测</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">碰撞检测，非常无聊的一个界面</span>
    </div>
  </div>
</div>

<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">
      <a class="card-title center-align valign-wrapper" href="https://twitter.com/wfnian"
        style="background-image: linear-gradient(60deg, #4aa1f3, #9ccbf6)">Twitter(推特)</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">长期密切关注特朗普<img
          src="https://gsp0.baidu.com/5aAHeD3nKhI2p27j8IqW0jdnxx1xbK/tb/editor/images/client/image_emoticon25.png"></span>
    </div>
  </div>
</div>
<!-- add 推特 -->

<!-- add 微信公众号 -->
<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">

      <a class="card-title center-align valign-wrapper" href="{{site.baseurl}}/enter/enter-mao[you-need-to-delete]"
        style="background-image: linear-gradient(90deg, #2ce425, #ffd900);line-height: initial;">多少事，从来急，<br>天地转，光阴迫。</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">自我修养计划</span>
    </div>
  </div>
</div>