<!-- add 小曾 -->
<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">
      <!-- <i class="material-icons waves-effect waves-block waves-light">more_vert</i> -->
      <a class="card-title center-align valign-wrapper" href="https://wfnian.top/enter" target="_blank"
        style="background-image: linear-gradient(120deg, #3c4bff, #ff45d1)">写给小曾</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">希望你能得到你想要的</span>
    </div>
  </div>
</div>

<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator" data-pattern-id="{{repo.name}}">
      <!-- <i class="material-icons waves-effect waves-block waves-light">more_vert</i> -->

      <a class="card-title center-align valign-wrapper" href="https://xzeng.top" target="_blank"
        style="background-image: linear-gradient(120deg, rgb(58, 161, 126), rgb(0, 83, 126));">家</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">所有快乐，无需假装。所以全抖搂在此了。</span>
    </div>
  </div>
</div>
<!-- 纪念与祭奠 -->
<!--  -->
<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator" data-pattern-id="{{repo.name}}">
      <!-- <i class="material-icons waves-effect waves-block waves-light">more_vert</i> -->

      <a class="card-title center-align valign-wrapper" href="https://wfnian.top" target="_blank"
        style="background-image: linear-gradient(120deg, #155799, #159957)">纪念与记念</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">不如意事常八九</span>
    </div>
  </div>
</div>
<!-- 纪念与祭奠 -->


<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator" data-pattern-id="{{repo.name}}">
      <!-- <i class="material-icons waves-effect waves-block waves-light">more_vert</i> -->

      <a class="card-title center-align valign-wrapper" href="https://upload.cc/i1/2019/08/24/upeFjA.png"
        target="_blank" style="background-image: linear-gradient(120deg, #4dad16, #4dad16)">微信公众号</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">此生尽兴，赤诚善良</span>
    </div>
  </div>
</div>
<!-- add 微信公众号 -->



<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator" data-pattern-id="{{repo.name}}">
      <!-- <i class="material-icons waves-effect waves-block waves-light">more_vert</i> -->

      <a class="card-title center-align valign-wrapper" href="https://twitter.com/wfnian" target="_blank"
        style="background-image: linear-gradient(60deg, #4aa1f3, #9ccbf6)">Twitter(推特)</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">要做一个，一人之下万人之上的赵高</span>
    </div>
  </div>
</div>
<!-- add 推特 -->

<!--  -->
<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator" data-pattern-id="{{repo.name}}">
      <!-- <i class="material-icons waves-effect waves-block waves-light">more_vert</i> -->

      <a class="card-title center-align valign-wrapper" href="https://zhihu.com/people/wfnian" target="_blank"
        style="background-image: linear-gradient(120deg, #0084ff, #0349bb)">知乎</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">甘肃是一个星星很多的地方，伸出手去，便是银河。</span>
    </div>
  </div>
</div>
<!-- add 知乎 -->

<!-- add wfnian -->
<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator" data-pattern-id="{{repo.name}}">
      <!-- <i class="material-icons waves-effect waves-block waves-light">more_vert</i> -->

      <a class="card-title center-align valign-wrapper" href="https://github.com/wfnian" target="_blank"
        style="background-image: linear-gradient(90deg, #24292e, #999999)">GitHub</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">"道阻且长，行则将至"</span>
    </div>
  </div>
</div>
<!-- add github -->

<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator" data-pattern-id="{{repo.name}}">
      <!-- <i class="material-icons waves-effect waves-block waves-light">more_vert</i> -->

      <a class="card-title center-align valign-wrapper" href="https://leetcode.com/wfnian" target="_blank"
        style="background-image: linear-gradient(60deg, #f1a11a, #000000)">LeetCode(力扣)</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">come watch TV.</span>
    </div>
  </div>
</div>
<!-- add leetcode -->