<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">
      <a class="card-title center-align valign-wrapper" href="{{site.baseurl}}/workspace/every_year/whisper_2021"
        style="background-image: linear-gradient(60deg, #a00, #a00);line-height: initial;">有些事情不称心<br>你就起身反抗吧</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">Quiet Disrepair</span>
    </div>
  </div>
</div>

<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">

      <a class="card-title center-align valign-wrapper" href="{{site.baseurl}}/enter/enter-shmily"
        style="background-image: linear-gradient(90deg, #efae26, #f50606)">剑与家园</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">。</span>
    </div>
  </div>
</div>

<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">

      <a class="card-title center-align valign-wrapper" href="{{site.url}}/enter/enter-xiaoli"
        style="background-image: linear-gradient(30deg, #002fa778 10%, #002fa7 90%);">历历万乡</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">太阳照常升起</span>
    </div>
  </div>
</div>

<!--  -->
<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">
      <!-- <i class="material-icons waves-effect waves-block waves-light">more_vert</i> -->

      <a class="card-title center-align valign-wrapper" href="https://www.zhihu.com/people/hriemy"
        style="background-image: linear-gradient(120deg, #0084ff, #0349bb)">知乎</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">知乎是一把双刃剑。<a style="color: dodgerblue;"
          href="https://gist.github.com/wfnian/d4c1af7bf84a9ee6b38c84fee95cccfc">配合此脚本打造利刃</a></span>
    </div>
  </div>
</div>

<!-- add 知乎 -->

<!-- add wfnian -->
<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">
      <!-- <i class="material-icons waves-effect waves-block waves-light">more_vert</i> -->

      <a class="card-title center-align valign-wrapper" href="https://github.com/wfnian"
        style="background-image: linear-gradient(90deg, #24292e, #999999)">GitHub</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">github.com</span>
    </div>
  </div>
</div>
<!-- add github -->



<!-- https://space.bilibili.com/279947937 -->
<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">
      <!-- <i class="material-icons waves-effect waves-block waves-light">more_vert</i> -->

      <a class="card-title center-align valign-wrapper" href="https://space.bilibili.com/279947937"
        style="background-image: linear-gradient(90deg, #00c0ff, #ff4180)">哔哩哔哩bilibili(B站)</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">B站是用来学习的！！！<br>爱治愈番</span>
    </div>
  </div>
</div>



<!-- add 微信公众号 -->
<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">
      <!-- <i class="material-icons waves-effect waves-block waves-light">more_vert</i> -->

      <a class="card-title center-align valign-wrapper" href="{{site.baseurl}}/workspace/weixin/weixin2"
        style="background-image: linear-gradient(0deg, #16cfea, #d40643)">微信小程序</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">阴阳师抽卡概率模拟程序</span>
    </div>
  </div>
</div>

<!-- add 微信公众号 -->
<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">
      <!-- <i class="material-icons waves-effect waves-block waves-light">more_vert</i> -->

      <a class="card-title center-align valign-wrapper" href="{{site.baseurl}}/workspace/weixin/weixin1"
        style="background-image: linear-gradient(120deg, #4dad16, #4dad16)">微信公众号</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">关注人数持续下降</span>
    </div>
  </div>
</div>



<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">
      <a class="card-title center-align valign-wrapper" href="https://twitter.com/wfnian"
        style="background-image: linear-gradient(60deg, #4aa1f3, #9ccbf6)">Twitter(推特)</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">长期密切关注特朗普<img
          src="https://gsp0.baidu.com/5aAHeD3nKhI2p27j8IqW0jdnxx1xbK/tb/editor/images/client/image_emoticon25.png"></span>
    </div>
  </div>
</div>
<!-- add 推特 -->

<!-- add 微信公众号 -->
<div class="col s12 m6 l4">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator">

      <a class="card-title center-align valign-wrapper" href="{{site.baseurl}}/enter/enter-mao[you-need-to-delete]"
        style="background-image: linear-gradient(90deg, #2ce425, #ffd900);line-height: initial;">多少事，从来急，<br>天地转，光阴迫。</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">自我修养计划</span>
    </div>
  </div>
</div>