/* html {
  
} */
.s-index {
  line-height: 1.7;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #009688;
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: -5px;

}
.s-index1 {
  line-height: 1.7;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #f3870c;
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: -5px;

}

.s-title {
  color: rgba(90, 90, 90, 0.87);
  line-height: 1.7;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
}
.s-content {
  color: rgba(90, 90, 90, 0.87);
  line-height: 1.7;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  text-indent: 32px;
  text-align: justify;
}
.s-footer {
  font-size: 12px;
}
p{
  color: rgba(90, 90, 90, 0.87);
  line-height: 1.7;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}